

<div class="container">
 <app-employee-filter 
 [all]="getAllEmployeeCount()"
 [male]="getMaleEmployeeCount()"
 [female]="getFemaleEmployeeCount()"
 ></app-employee-filter>
</div>

<table class="table table-stripped">

 <thead>
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th> Salary</th>
        <th> Gender</th>

    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let employee of employees" >
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.gender}}</td>


    </tr>
    <tr *ngIf="employees.length===0">
    <td colspan="4">
   <p>No Records Found!</p>
    </td>
    </tr>
 </tbody>

</table>