

<div class="container">
 <app-employee-filter 
 [all]="getAllEmployeeCount()"
 [male]="getMaleEmployeeCount()"
 [female]="getFemaleEmployeeCount()"
 (valuefromEmitter)="onSelectionChangeDropDown($event)"
 ></app-employee-filter>
</div>







<table class="table table-stripped">

 <thead>
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th> Salary</th>
        <th> Gender</th>

    </tr>
 </thead>
 <tbody>
 <ng-container *ngFor="let employee of employees">
    <tr  *ngIf="selectedFilter==='All' || selectedFilter===employee.gender" >
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.gender}}</td>
    </tr>
    </ng-container>
    <tr *ngIf="employees.length===0">
    <td colspan="4">
   <p>No Records Found!</p>
    </td>
    </tr>
 </tbody>

</table>